<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Footie - Goodwin, Sheffield</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
