# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
keyfile.json
iam-policy.json
.app-prod.yaml
.env*
backups
DB-Backup*.json

# Docker
Dockerfile
docker-compose.yml
