<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="w3-light-grey">
  <%- include ("../partials/nav.ejs") %>
  <!-- Page content -->
  <div class="w3-content" style="max-width:2000px;margin-top:46px;margin-left: 10px;">
    <div id="blank" style="height: 40px"></div>
    <p><h3>Database Preview</h3>


    <div style="width:100%;display:flex;">
      <div id="dummyDiv" style="display:inline;width:20%"></div>
      <div id="dummyDiv" style="display:inline;width:35%">
        <input id="newDocName" type="text" placeholder="<New Doc Name>" data-lpignore=true>
        <button id="renameDoc" type="button" onclick="renameSelectedDocument();">Rename</button>
        <button id="deleteDoc" type="button" onclick="deleteSelectedDocument();">Delete</button>
        <button id="createNewDoc" type="button" onclick="createNewDocument();">Create</button>
      </div>
      <div id="databaseDiv" style="display:inline;width:45%">
        <button id="updateDoc" type="button" onclick="updateSelectedDocument();">Update</button>
      </div>
    </div> 

    <div style="width:100%;display:flex;">
      <div id="databaseDiv" style="display:inline;width:20%">Collection<br><select name="dbCollections" id="dbCollections" onselect="clickCollection(this.value);" multiple onclick="clickCollection(this.value);" style="width:95%;height:850px;font-size: 90%;margin-top:10px" ></select></div>
      <div id="databaseDiv" style="display:inline;width:35%">Document<br><select name="dbDocuments" id="dbDocuments" multiple onclick="clickDocument(this.value);" style="width:95%;height:850px;font-size: 90%;margin-top:10px" ></select></div>
      <div id="databaseDiv" style="display:inline;width:45%">Fields<br><textarea name="dbFields" id="dbFields" multiple style="width:95%;height:850px;font-size: 90%;margin-top:10px" ></textarea></div>
    </div> 
    <input id="cacheCheckbox" type="checkbox" name="cacheCheckbox" onclick="toggleCache(this.value);"/>
    <label for="cacheCheckbox">Use Cache?</label>


    <script type="text/javascript">
      // restringify and then parse the json to get the page
      var pageData = JSON.parse(JSON.stringify(<%- pageData %>));
      console.log('pageData=', pageData);

      var database = pageData.database;
      if (!database) { database = {}; }
      var useCache = false;

      var dbCollectionsElement = document.getElementById('dbCollections');
      dbCollectionsElement.addEventListener("touchstart", touchCollection, false)

      var dbDocumentsElement = document.getElementById('dbDocuments'); 
      var dbFieldsElement = document.getElementById('dbFields');

      var collectionList = Object.keys(database);
      //console.log('collectionList=', collectionList);
      collectionList.forEach(function(collectionId) {
        var opt = document.createElement('option');
        opt.value = collectionId;
        opt.innerHTML = collectionId;
        dbCollectionsElement.appendChild(opt);
      });

      // pre-select collection/document if passed as URL param
      const urlParams = new URLSearchParams(window.location.search);
      const collectionParam = urlParams.get('collection')
      if (collectionParam) { 
        dbCollectionsElement.value = collectionParam;
        clickCollection(collectionParam); 

        const documentParam = urlParams.get('document')
        dbDocumentsElement.value = documentParam;
        if (documentParam) { 
          clickDocument(documentParam);
        }
      }

      // functions
      function touchCollection(touchEvent) {
        console.log('Collection touch', touchEvent);
        //var collectionId = touchEvent.option.value;
        //clickCollection(collectionId);
      }
      // functions
      function clickCollection(collectionId) {
        console.log('Collection click', collectionId);
        var documentList = Object.keys(database[collectionId]);
        // clear previous field details
        while (dbDocumentsElement.lastElementChild) {
          dbDocumentsElement.removeChild(dbDocumentsElement.lastElementChild);
        }
        documentList.forEach(function(key) {
          var opt = document.createElement('option');
          var documentId = database[collectionId][key].id;
          opt.value = key;
          opt.innerHTML = documentId;
          dbDocumentsElement.appendChild(opt);
        });
        dbFieldsElement.value = "";
        document.getElementById('newDocName').value = "";
        updateHref();
      }

      function clickDocument(documentKey) {
        //console.log('Document click', element.value);
        var collectionId = dbCollectionsElement.value;
        // update field details with new selection
        var fieldDetailsId = database[collectionId][documentKey].id;
        var fieldDetailsData = database[collectionId][documentKey].data;
        var fieldDetails = JSON.stringify(fieldDetailsData.result, null, "\t");
        dbFieldsElement.value = fieldDetails;

        var documentName = dbDocumentsElement.options[dbDocumentsElement.selectedIndex].innerHTML;
        document.getElementById('newDocName').value = documentName;
        updateHref();
        getUpdatedData();
      }

      function updateHref() {
        var newURL = window.location.href;
        if (newURL.includes("collection=")) {
          newURL = newURL.replace(/(collection=.*)/g, 'collection=' + dbCollectionsElement.value + "&document=" + dbDocumentsElement.value);
        } else {
          newURL += "?collection=" + dbCollectionsElement.value + "&document=" + dbDocumentsElement.value;
        }
        //console.log("newURL", newURL);
        window.history.pushState({}, 'unused', newURL);
      }

      function toggleCache(checkboxValue) {
        useCache = checkboxValue;
      }


      function getUpdatedData() {
        if (useCache) {
          updateHref();
        } else {
          // now send the POST request with the data
          var collectionId = dbCollectionsElement.value;
          var documentKey = dbDocumentsElement.value;
          var documentName = dbDocumentsElement.options[dbDocumentsElement.selectedIndex].innerHTML;
          var body = { "collectionId": collectionId, "documentId": documentName };

          console.log("GETTING DOC:" + JSON.stringify(body));
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              console.log("Saved response", this.responseText);
              // now update the dable with the data
              var updatedData = JSON.parse(this.responseText);
              database[collectionId][documentKey].data = updatedData;
              //dbFieldsElement.value = "Showing document: " + documentName + "...\n" + JSON.stringify(updatedData, null, "\t");
              dbFieldsElement.value = JSON.stringify(updatedData.result, null, "\t");
              //location.reload(true);
            }
          };
          xmlhttp.open("POST", "/services/get-database-doc");
          xmlhttp.setRequestHeader("Content-Type", "application/json");
          xmlhttp.send(JSON.stringify(body));
        }
      }

      function createNewDocument() {
        var collectionId = dbCollectionsElement.value;
        var newDocumentName = document.getElementById('newDocName').value;
        var newDocumentData = {};
        if (!newDocumentName) { alert('Error: Doc Name cannot be blank.') }
        // check file doesn't already exist
        for (var file in database[collectionId]) {
          if (database[collectionId][file].id == newDocumentName) {
            alert('Error: Doc with this name already exists: ' + newDocumentName);
            return;
          }
        }

        if (!confirm('This will CREATE a file called: ' + newDocumentName + ' \nAre you sure?')) return;

        var body = { "collectionId": collectionId, "documentId": newDocumentName, "documentData": newDocumentData };
        console.log("GETTING DOC:" + JSON.stringify(body));
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log("Saved response", this.responseText);
            // now create a new row in the table for the new doc
            var opt = document.createElement('option');
            opt.value = newDocumentName;
            opt.innerHTML = newDocumentName;
            dbDocumentsElement.appendChild(opt);
            database[collectionId][newDocumentName] = { "id": newDocumentName, "data": newDocumentData };
            //now select the new doc
            dbDocumentsElement.value = newDocumentName;
            clickDocument(newDocumentName);
          }
        };
        xmlhttp.open("POST", "/services/create-new-database-doc");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(body));
      }

      function deleteSelectedDocument() {
        // now send the POST request with the data
        if (!dbDocumentsElement.options[dbDocumentsElement.selectedIndex]) {
          !alert('Error: Please select a document');
          return;
        }
        var collectionId = dbCollectionsElement.value;
        var documentKey = dbDocumentsElement.value;
        var documentName = dbDocumentsElement.options[dbDocumentsElement.selectedIndex].innerHTML;
        if (!confirm('This will permanently delete: ' + documentName + ' \nAre you sure?')) return;

        var body = { "collectionId": collectionId, "documentId": documentName };
        console.log("GETTING DOC:" + JSON.stringify(body));
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log("Saved response", this.responseText);
            // now update the table with the data
            var updatedData = JSON.parse(this.responseText);
            delete database[collectionId][documentKey];
            dbFieldsElement.value = "Deleted document: " + documentName + "...\n" + JSON.stringify(updatedData, null, "\t");
            clickCollection(collectionId);
          }
        };
        xmlhttp.open("POST", "/services/delete-database-doc");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(body));
      }

      function renameSelectedDocument() {
        // now send the POST request with the data
        if (!dbDocumentsElement.options[dbDocumentsElement.selectedIndex]) {
          !alert('Error: Please select a document');
          return;
        }
        var collectionId = dbCollectionsElement.value;
        var documentKey = dbDocumentsElement.value;
        var documentName = dbDocumentsElement.options[dbDocumentsElement.selectedIndex].innerHTML;
        var newDocumentName = document.getElementById('newDocName').value;

        if (!newDocumentName || (newDocumentName == documentName)) {
          !alert('Error: Name has not changed, please enter a new name');
          document.getElementById('newDocName').focus();
          return;
        }
        if (!confirm('This will rename: ' + documentName + ' to ' + newDocumentName + ' \nAre you sure?')) return;

        var body = { "collectionId": collectionId, "documentId": documentName, "newDocumentName": newDocumentName };
        console.log("GETTING DOC:" + JSON.stringify(body));
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log("Saved response", this.responseText);
            // worked so delete old document from cache
            delete database[collectionId][documentKey];
            // now update the table with the data
            var updatedData = JSON.parse(this.responseText);
            database[collectionId][newDocumentName] = { "id": newDocumentName, "data": updatedData};
            dbFieldsElement.value = "Showing new renamed document: " + newDocumentName + "...\n" + JSON.stringify(updatedData, null, "\t");
            clickCollection(collectionId);
          }
        };
        xmlhttp.open("POST", "/services/rename-database-doc");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(body));
      }

      function updateSelectedDocument() {
        if (!dbDocumentsElement.options[dbDocumentsElement.selectedIndex]) {
          !alert('Error: Please select a document');
          return;
        }
        var collectionId = dbCollectionsElement.value;
        var documentKey = dbDocumentsElement.value;
        var documentName = dbDocumentsElement.options[dbDocumentsElement.selectedIndex].innerHTML;
        var documentData;
        try {
          var json = JSON.parse(dbFieldsElement.value); // test valid json
          documentData = json;
          //console.log("Updated documentData:", documentData);
        } catch (err) {
          !alert('Error: check valid JSON');
          dbFieldsElement.focus();
          return;
        }
        if (!confirm('This will update: ' + documentName + ' \nAre you sure?')) return;

        var body = { "collectionId": collectionId, "documentId": documentName, "documentData": documentData };
        console.log("aGETTING DOC:", body);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            console.log("Saved response", this.responseText);
            // now update the dable with the data
            var updatedData = JSON.parse(this.responseText);
            database[collectionId][documentKey].data = updatedData;
            //dbFieldsElement.value = "Showing document: " + documentName + "...\n" + JSON.stringify(updatedData, null, "\t");
            dbFieldsElement.value = JSON.stringify(updatedData, null, "\t");
            //location.reload(true);
            clickDocument(documentKey);
          }
        };
        xmlhttp.open("POST", "/services/update-database-doc");
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(body));
      }
    </script>
  </div>
</body>
</html>
