<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="w3-light-grey">
  <%- include ("../partials/nav.ejs") %>
  <!-- Page content -->
  <div class="w3-content" style="max-width:2000px;margin-top:46px;margin-left: 10px;">

  <H3>Aliases</h3>
  <p>Active Players</p>
  <div id="playersAliasHeader"></div><br>
  <button id="addAlias" style="background-color: #90EE90;" type="button" onclick="addAliasPlayer();">(+) Add Player</button>
  <br>
  <button id="saveAlias" style="background-color: #90EE90;" onclick="savePlayerAliases()">Save</button>
  <button id="cancelAliasEdit" onclick="location.reload()" disabled>Cancel</button>
  <p>Inactive Players</p>
  <p><div id="inactivePlayersHeader"></div>

  <br><div id="unusedPlayers"></div><br>

  <script type="text/javascript">
    // restringify and then parse the json to get the page
    var pageData = JSON.parse(JSON.stringify(<%- pageData %>));
    console.log('pageData=', pageData);

    var aliasesData = pageData.aliasesData;

    var playersAliasHeader = document.getElementById("playersAliasHeader")
    var playerAliasCount = 0;
    var collapsedPlayerList = {};
    Object.keys(aliasesData).sort().forEach(function(key) {
      //console.log("key", aliasesData[key]);
      var playerName = key;
      var playerActive = false;
      var subscriptionStatus = aliasesData[key].subscriptionStatus;
      if (subscriptionStatus == 2) { playerActive = true; }

      var aliasesList = aliasesData[key].aliases;
      var playerEmail = aliasesData[key].email;
      if (!playerEmail) { playerEmail = ""; }
      addAliasPlayer(playerName, playerActive, aliasesList, playerEmail);
      
      collapsedPlayerList[playerName.toUpperCase()] = playerName;
      for (var i = 0; i < aliasesList.length; i ++) {
        collapsedPlayerList[aliasesList[i].toUpperCase()] = playerName;
      }
    });

    function addAliasPlayer(playerName, playerActive, aliasesList, playerEmail) {
      if (!playerName) {
        playerName = "";
        playerActive = true;
        aliasesList = [];
      }
      //console.log("ADDING PLAYERS:", playerName, playerActive, aliasesList);

      // create Player Name field
      var newPlayerName = document.createElement("input"); 
      newPlayerName.setAttribute("type", "text"); 
      newPlayerName.style.verticalAlign = "top";
      newPlayerName.setAttribute("id", "player" + playerAliasCount + "Alias"); 
      newPlayerName.setAttribute("name", "myPlayers[]"); 
      newPlayerName.value = playerName; 

      // create active player checkbox
      var newPlayerActive = document.createElement("input");
      newPlayerActive.setAttribute("type", "checkbox");  
      newPlayerActive.style.verticalAlign = "top";
      newPlayerActive.setAttribute("id", "playerActive" + playerAliasCount + "Alias"); 
      newPlayerActive.setAttribute("name", "myActivePlayers[]"); 
      newPlayerActive.checked = playerActive;
      newPlayerActive.style.width = "25px";
      newPlayerActive.style.height = "27px";
      newPlayerActive.style.margin = "1px 5px 0px 0px";

      // create Player Name field
      var newPlayerEmail = document.createElement("input"); 
      newPlayerEmail.setAttribute("type", "text"); 
      newPlayerEmail.style.verticalAlign = "top";
      newPlayerEmail.setAttribute("id", "playerEmail" + playerAliasCount + "Alias"); 
      newPlayerEmail.setAttribute("name", "myPlayerEmails[]"); 
      newPlayerEmail.value = playerEmail;

      // create text area for the aliases
      var newPlayerAliases = document.createElement("textarea"); 
      newPlayerAliases.setAttribute("type", "textarea"); 
      newPlayerAliases.setAttribute("id", "playerAlias" + playerAliasCount + "Alias"); 
      newPlayerAliases.setAttribute("name", "myPlayerAliases[]"); 
      var newPlayerAliasesText = "";
      for (var i = 0; i < aliasesList.length; i ++) {
        newPlayerAliasesText += aliasesList[i];
        newPlayerAliasesText += "\n";
      }
      newPlayerAliases.value = newPlayerAliasesText; 

      var header = playersAliasHeader;
      if (!playerActive) {
        header = inactivePlayersHeader;
      }
      header.appendChild(newPlayerActive);
      header.appendChild(newPlayerName);
      header.appendChild(newPlayerEmail);
      header.appendChild(newPlayerAliases);
      header.appendChild(document.createElement("br"));

      playerAliasCount++;

      if (playerName == "") {
        // new player so enable the save/cancel button, and disable
        document.getElementById("cancelAliasEdit").disabled = false; 
        document.getElementById("cancelAliasEdit").style.backgroundColor = "lightsalmon";
      }
    }


    function savePlayerAliases(playerName, aliasesList) {
      document.getElementById("saveAlias").id = "savingAlias"; // do this to allow testing of page reload after save 
      var aliasesData = {};
      for (var i = 0; i < playerAliasCount; i ++) {
        var player = document.getElementById("player" + i + "Alias").value;
        var isActive = document.getElementById("playerActive" + i + "Alias").checked;
        var aliases = document.getElementById("playerAlias" + i + "Alias").value;
        var playerEmail = document.getElementById("playerEmail" + i + "Alias").value;
        var aliasesArray = aliases.trim().split('\n');

        var subscriptionStatus = 0;
        if (isActive) {
          subscriptionStatus = 2;
        }
        aliasesData[player] = { "subscriptionStatus": subscriptionStatus, "email": playerEmail, "aliases": aliasesArray };
      }
      console.log("SAVING ALIASES:" + JSON.stringify(aliasesData));

      var postData = { "aliasesData": aliasesData };

      // now send the POST request with the data
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          console.log("Saved response", this.responseText);
          location.reload(true);
        }
      };
      xmlhttp.open("POST", "/admin-save-aliases");
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.send(JSON.stringify(postData));
    }

  </script>
</body>
</html>
