<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="w3-light-grey">
  <%- include ("../partials/nav.ejs") %>
<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px;margin-left: 10px;">
<div>
	<h3><center>6-a-side Football<br>6pm Mondays<br>
	Goodwin, Sport Sheffield</center></h3>
	<p>
	<h4>Want to play?</h4>
	<ol>
		<li>Get yourself on the email list - contact the organiser, or one of the players and they'll pass your details on</li>
		<li>An email will be sent each month with a poll for the games in that month.  Fill out the poll (You can update the pool at any time if your availability changes - just keep it up-to-date)</li>
		<li>Each week teams are randomised from the poll and email sent round</li>
		<li>Play - see the location and map below. Hopefully score a few goals :)</li>
		<li>Pay - £4 each per game. Pay monthly by paypal as described below</li>
	</ol>
	<hr>
	<h4>Rules</h4>
	<ul>
		<li>Standard 5-a-side rules</li>
		<li>Not allowed in the box (keeper only)</li>
		<li>Box is white line</li>
		<li>Play to each by-line with standard corner and throw-ins</li>
		<li>We don't bother playing the head-height rule</li>
		<li>No sliding tackles</li>
	</ul>
	<h4>Payment</h4>
	£4 each per game. Pay monthly by paypal please - an email summary with paypal link is sent round each month.
	<h4>Location</h4>
	John Hawley Pitch, Sport Sheffield
	<br>Goodwin Sports Centre, Northumberland Road, Sheffield, S10 2TY
	<p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1366.5557408425332!2d-1.49490656164496!3d53.381694398348294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x993d31e22439819e!2zNTPCsDIyJzU0LjEiTiAxwrAyOSczOS40Ilc!5e1!3m2!1sen!2suk!4v1648281203984!5m2!1sen!2suk" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


</div>

</div>

</body>
</html>
