<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">

<link rel='stylesheet' id='bootstrap-style-css'  href='https://sheffield.digital/wp-content/themes/sd-litemag/assets/css/bootstrap.min.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='bluth-style-css'  href='https://sheffield.digital/wp-content/themes/sd-litemag/style.css?ver=4.9.8' type='text/css' media='all' />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<style>
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
pre {
   font-size: 90%;
}
.linkborder a:link, .emailHeader {
  background-color: #D5EDF6;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #D5EDF6;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #D5EDF6;
}
.gameheader  {
  float: left;
  padding: 2px 6px 2px 0px;
  margin: 0px;
}

.gameheader input,button{
  height: 30px;
  margin: 0px;
}
text {
  font-size: 10px;
  width:20em;
}
/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  height: 5px;
  width: 25px;
  background-color: #eee;
}
.gameMonthInput {
  font-size: 80%; 
  height: 30px;
  margin: 0px 0px 0px 20px;
}
</style>
</head>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
  <a href="/poll" class="w3-bar-item w3-button">Poll</a>
  <a href="/teams" class="w3-bar-item w3-button">Select Teams</a>
  <a href="https://goo.gl/maps/LCGbaK5RQD47CxXG8" class="w3-bar-item w3-button w3-right"><i>Map</i>  </a>
</div>

<div id="year">
  <h3>Choose Your Poll: 
  <input type="month" class="gameMonthInput" id="gameMonthInput" name="start" min="2022-03" value="2022-04">
  </h3>
</div>

<div id="description">Footie, 6pm every Monday, John Hawley Pitch (<a href="https://goo.gl/maps/6CcWirgU6bVMEqbt8">Far Corner - see pin on map</a>)</div>
<div id="location">Sport Sheffield, Goodwin, Northumberland Road, Sheffield, S10 2TY</div>


<p><p><h3>Add/Edit Availability:</h3>
<div id="title">Not Yet Available</div>
<div id="divHeader">
<div id="nameHeader" class="gameheader">Name</div>
</div>
<div id="editHeader" class="gameheader">Save</div>
<div style="clear:both;"></div>

<form id="playerForm">
 <div id="dynamicInput"></div>
</form>
<button id="addPlayer" style="background-color: #90EE90;" type="button" onclick="addPlayer();">(+) Add Player</button>
<button id="savePlayers" onclick="savePlayers()" disabled=true>Save Players</button>
<button id="cancelEdit" onclick="location.reload()" disabled=true>Cancel</button>

  <script type="text/javascript">
    var monthDateFormat = new Intl.DateTimeFormat('en', { month: 'long' });
    var monthDateNumericFormat = new Intl.DateTimeFormat('en', { month: '2-digit' });
    var dayDateFormat = new Intl.DateTimeFormat('en', { day: '2-digit' });

    var playerCount = 0;
    var todayDate = new Date();
    var playerElements = {};
    var saving = true;

    // annoying workaround to some mumbo-jumbo to convert a valid object client-side ()
    var pagedata =  JSON.parse("<%= JSON.stringify(pageData) %>".replace(/&#34;/g, '"'));
    console.log('Data=' + JSON.stringify(pagedata));

    var selectedMonthDate = new Date(pagedata.data.gameid);
    var gameMonth = monthDateNumericFormat.format(selectedMonthDate);
    var gameYear = selectedMonthDate.getFullYear();

    //var pollDate = new Date(gameYear + gameMonth + "01 ");
    var pollDate = new Date("01 " + monthDateFormat.format(todayDate) + " " + gameYear);
    //var pollDate = new Date(gameYear + gameMonth + "01 "););
    console.log(pollDate);
    var gameMonthString = monthDateFormat.format(todayDate);
    // update the header month input selector
    document.getElementById("gameMonthInput").value = gameYear + "-" + gameMonth
    document.getElementById("gameMonthInput").addEventListener('change', function() {
      var selectedDate = document.getElementById("gameMonthInput").value
      document.location.href = 'http://localhost:5000/poll?date=' + selectedDate + '-01'
    });

    var players = pagedata.data.gamedetails.players;
    if (!players) { players = {}; }

    function mondaysInMonth(m,y) {
      var days = new Date(y,m,0).getDate();
      var mondays =  new Date(m +'/01/'+ y).getDay();
      if (mondays != 1){
        mondays = 9 - mondays;
      }
      mondays = [mondays];
      //console.log(mondays);
      for (var i = mondays[0] + 7; i <= days; i += 7) {
        mondays.push(i);
      }
      return mondays;
    }

    mondaysDates = mondaysInMonth(pollDate.getMonth()+1, pollDate.getFullYear());  //=> [ 7,14,21,28 ]


    function getDayOfMonthSuffix(n) {
        //checkArgument(n >= 1 && n <= 31, "illegal day of month: " + n);
        if (n >= 11 && n <= 13) {
            return "th";
        }
        switch (n % 10) {
            case 1:  return "st";
            case 2:  return "nd";
            case 3:  return "rd";
            default: return "th";
        }
    }

    document.getElementById("title").innerHTML = "<b>" + monthDateFormat.format(pollDate) + ' ' + gameYear + "</b>"

    // auto generate divs for headers for each game week
    for (var i = 0; i < mondaysDates.length; i ++) {
      var newWeekHeader = document.createElement("div");
      newWeekHeader.setAttribute("id", "week" + i + "Header"); 
      newWeekHeader.setAttribute("class", "gameheader"); 
      // give it some content and add the text node to the newly created div
      //const newContent = document.createTextNode(mondaysDates[i] + " " + monthDateFormat.format(pollDate));
      const newContent = document.createTextNode(mondaysDates[i] + getDayOfMonthSuffix(mondaysDates[i]));
      newWeekHeader.appendChild(newContent);
      divHeader.appendChild(newWeekHeader);  
    }

    console.log(pagedata.data.gamedetails.players);
    //var players = gamedetails.players; //JSON.stringify()?
    // now loop through all saved players and pre-populate their availability
    Object.keys(players).forEach(function(key) {
      //console.log('player=' + key + "___" + players[key].name);
      //playerName = players[key].name;
      //console.log(players[key]);
      playerName = key
      playerAvailability = players[key]
      //playerAvailability = players[key].availability[0]
      addPlayer(playerName, playerAvailability)
    });

    // add an addition text box and hook up listeners
    function addPlayer(playerName, availabilityMap) {
      playerCount++;
      if (playerCount > 30) {
        // set a max list of names (just to protect a little)
        return;
      }
      var form = document.getElementById("dynamicInput")
      var nameHeader = document.getElementById("nameHeader")
      
      // create a player text box
      var newPlayerName = document.createElement("input"); 
      newPlayerName.setAttribute("type", "text"); 
      newPlayerName.setAttribute("id", "player" + playerCount); 
      newPlayerName.setAttribute("name", "myPlayers[]"); 
      newPlayerName.style.width = 120;
      if (playerName) {
        newPlayerName.setAttribute("value", playerName); 
        newPlayerName.setAttribute("disabled", true); 
      }
      nameHeader.appendChild(document.createElement("br"));
      nameHeader.appendChild(newPlayerName);
      
      for (var i = 0; i < mondaysDates.length; i ++) {
        var weekHeader = document.getElementById("week" + i + "Header")
        var newPlayerWeek = document.createElement("input"); 
        newPlayerWeek.setAttribute("type", "checkbox"); 
        newPlayerWeek.setAttribute("class", "checkmark"); 
        newPlayerWeek.setAttribute("id", "player" + playerCount + "Week" + i); 
        newPlayerWeek.setAttribute("name", playerCount + "myPlayerWeek[]"); 
        if (availabilityMap && availabilityMap[i]){
          newPlayerWeek.setAttribute("checked", true); 
          //console.log(playerName + " " + mondaysDates[i] + "=" + availabilityMap[mondaysDates[i]])
        }
        if (playerName) {
          newPlayerWeek.setAttribute("disabled", true); 
        }
        weekHeader.appendChild(document.createElement("br"));
        weekHeader.appendChild(newPlayerWeek);
      }

      // create the edit button
      var newPlayerEditButton = document.createElement("button");
      newPlayerEditButton.type = "button";
      newPlayerEditButton.innerHTML = "Edit ...";
      newPlayerEditButton.style.backgroundColor = "lightgreen";
      newPlayerEditButton.setAttribute("id", "player" + playerCount + "Edit");

      var editHeader = document.getElementById("editHeader")
      editHeader.appendChild(document.createElement("br"));
      editHeader.appendChild(newPlayerEditButton);
      if (playerName) {
        //newPlayerEditButton.innerHTML = "<span>&#10003;</span>"; //Tick
      }
      newPlayerEditButton.onclick = function() {editPlayer(playerName, newPlayerEditButton)};

      if (!playerName) {
        // new player so enable the save button
        document.getElementById("savePlayers").disabled = false; 
        document.getElementById("savePlayers").style.backgroundColor = "lightgreen";
        document.getElementById("cancelEdit").disabled = false; 
        document.getElementById("cancelEdit").style.backgroundColor = "lightgreen";
        for (var i = 1; i <= playerCount-1; i++) {
          document.getElementById("player" + i + "Edit").disabled = true; 
          document.getElementById("player" + i + "Edit").style.backgroundColor = "lightgrey";
        }
      // disable the addPlayer botton
      document.getElementById("addPlayer").disabled = true; 
      document.getElementById("addPlayer").style.backgroundColor = "lightgrey";
      }
  }

    function editPlayer(playerName, newPlayerEditButton) {
      chosenPlayer = newPlayerEditButton.id.split('Edit')[0]
      console.log("EDITING Player: " + playerName + " ChosenPlayer:" + chosenPlayer);
      // disable everything
      for (var i = 1; i <= playerCount; i++) {
        document.getElementById("player" + i).disabled = true; 
        for (var j = 0; j < mondaysDates.length; j++) {
          document.getElementById("player" + i + "Week" + j).disabled = true; 
        }
        document.getElementById("player" + i + "Edit").disabled = true; 
        document.getElementById("player" + i + "Edit").style.backgroundColor = "lightgrey";
      }

      // renable only the chosen Player
      document.getElementById(chosenPlayer).disabled = false; 
      for (var j = 0; j < mondaysDates.length; j++) {
        document.getElementById(chosenPlayer + "Week" + j).disabled = false; 
      }
      document.getElementById(chosenPlayer + "Edit").disabled = false; 
      document.getElementById(chosenPlayer + "Edit").style.backgroundColor = "lightgreen";
      // enable the save button
      document.getElementById("savePlayers").disabled = false; 
      document.getElementById("savePlayers").style.backgroundColor = "lightgreen";
      document.getElementById("cancelEdit").disabled = false; 
      document.getElementById("cancelEdit").style.backgroundColor = "lightgreen";
      // disable the addPlayer botton
      document.getElementById("addPlayer").disabled = true; 
      document.getElementById("addPlayer").style.backgroundColor = "lightgrey";

    }

    function savePlayers() {
      // now loop through all saved players and pre-populate their availability
      var allPlayerDetails = {};
      for (var i = 1; i <= playerCount; i++) {
        var playerName = document.getElementById("player" + i).value;
        if (playerName && playerName != "") {
          var playerAvailability = {};
          for (var j = 0; j < mondaysDates.length; j++) {
            var playerAvailable = document.getElementById("player" + i + "Week" + j).checked
            playerAvailability[j] = playerAvailable;
          }
          allPlayerDetails[playerName] = playerAvailability;
        }
      }
      console.log("0000=" + JSON.stringify(allPlayerDetails))
      var gamedetails = { "gameYear": gameYear, "gameMonth": gameMonth, "players": allPlayerDetails };

      console.log("SAVING:" + JSON.stringify(gamedetails));
      const options = {};
      fetch("/save-result", {
        method: 'POST',
        body: JSON.stringify(gamedetails),
        headers: { 'Content-Type': 'application/json' }
       })
       .then( res => res.json() )
       .then( data => console.log(data) );

/** (either disable everything, or might just be easier to reload the page)

      // disable everything
      for (var i = 1; i <= playerCount; i++) {
        document.getElementById("player" + i).disabled = true; 
        for (var j = 0; j < mondaysDates.length; j++) {
          document.getElementById("player" + i + "Week" + j).disabled = true; 
        }
        document.getElementById("player" + i + "Edit").disabled = false; 
        document.getElementById("player" + i + "Edit").style.backgroundColor = "lightgreen";
      }
      // saved - disable the save button
      document.getElementById("savePlayers").disabled = true; 
      document.getElementById("savePlayers").style.backgroundColor = "lightgrey";
      document.getElementById("cancelEdit").disabled = true; 
      document.getElementById("cancelEdit").style.backgroundColor = "lightgrey";
      // re-enable the addPlayer botton
      document.getElementById("addPlayer").disabled = false; 
      document.getElementById("addPlayer").style.backgroundColor = "lightgreen";
*/
      location.reload();
    }

  </script>

</body>
</html>
